.bgNav{
    background-color: #ffffff;
}

.ulPosicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 150px;
}

.colorL{
    color: #000000;
    font-size: medium;
    text-transform: uppercase;
}

.tamañoCarrito{
    color: #000000;
    width: 30px;
    height: 30px;
}